
div{
    background-color: blue
}

@media screen and(min-width: 1024px){
    div{
        background-color: red;
    }
}
@media screen and(min-width: 1920px){
    div{
        border: solid black 1px;
        background-color: green;
        border-radius: 5px;
        margin-bottom: 1em;
        padding-left: 0.5em;
    }

}

